html {
	position: relative;
	min-height: 100%;
}

body {
	padding-bottom: 70px;
}

#image img {
	width: 100%;
}

.navbar-fixed-bottom {
	position: absolute;
}

#footer {
	float: none;
	text-align: center;
}